/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  /* ... */


  /*** header navigation **/
  #main-nav {
    .menu {
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 15px;

    }

    ul {
      display: flex;


      li {
        //border-top: inherit;
        width: 50%;
        justify-content: center;
        font-size: 16px;

        &:hover {
          border-top: inherit;
        }
      }
    }
  }
  #logo {
    a {
      display: inline-block;
    }
  }
  .nav-link {
    gap: 68PX;
    padding: 10px;
    padding-bottom: 12px;
    border-bottom: solid 2px var(--main-bg-color);

    &:hover,
    &:focus,
    &:active {
      border-top: none;
      border-bottom: solid 2px var(--main-color);
      padding-bottom: 10px;

      //color: var(--main-color);
    }
  }

  /*** filter, search bar, info bulle **/
  #info-group {

  }

  /*** search bar **/
  .search-bar {
    width: 100%;
    max-width: 377px;

    button {
      border-radius: 10px;

      &:after {
        font-family: "Font Awesome 6 Free";
        font-weight: 700;
        content: "\f002";
      }

      &:hover {
        background-color: var(--main-bg-color);
      }
    }
  }
  /*** filters **/
  .filter-bar {
    flex-direction: column;
    align-items: flex-start;

    > * {
      gap: 30px;
      width: 100%;
      flex-wrap: wrap;
    }

    .filter {
      //width: 50%;
    }

    .filters-container {
      gap: 10px;
    }

    .filter-pill {
      //width: 50%;
      font-size: 14px;
    }
  }


  .hebergements-cards,
  .populaires-cards,
  .activites-cards,
  {
    flex-direction: column;

    a {
      width: 100%;
    }
  }


  /*** activites card **/
  .activites-cards {
    row-gap: 30px;

    a {
      justify-content: center;
    }

    img {
      height: 141px;
    }
  }
  footer {
    margin: 0 auto;
    nav {
      flex-direction: column;

      > div {
        width: 100%
      }
    }
  }

}