@charset "UTF-8";
/****** General ***********/
* {
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box; }

:root {
  --main-color: #0065FC;
  --main-bg-color: #F2F2F2;
  --second-color: #37ADFF;
  --filter-bg-color: #DEEBFF;
  --lighter-color: #D9D9D9; }

body {
  margin: 0;
  display: flex;
  justify-content: center; }

a {
  color: inherit;
  text-decoration: none; }

ul {
  padding: 0;
  margin: 0; }

li {
  margin: 0;
  list-style: none; }

h1,
h2,
h3,
h4,
p {
  margin: 0; }

figure {
  padding: 0;
  margin: 0; }

header,
main,
footer {
  width: 100%; }

/*** class **/
.fa-solid {
  color: var(--main-color); }

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box; }

main {
  display: flex;
  flex-direction: column;
  row-gap: 30px; }

h2 {
  font-size: 22px; }

h3 {
  font-size: 18px; }

.title {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .title strong {
    font-size: 18px; }

.euro {
  font-weight: 700; }

.neutral-star {
  color: var(--main-bg-color); }

.card {
  width: 100%;
  background-color: white;
  border-radius: 20px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1)); }
  .card .illustration {
    height: 124px;
    overflow: hidden; }
    .card .illustration img {
      height: 100%; }
  .card img {
    object-fit: cover;
    border: 5px solid #fff; }
  .card .card-content {
    padding: 0 15px; }
    .card .card-content > * {
      padding-bottom: 8px; }
  .card .card-title {
    font-size: 16px;
    line-height: 1.2em; }

/****** components ***********/
/****** header navigation menu ***********/
#main-nav * {
  display: flex; }

.menu {
  justify-content: space-between; }
  .menu ul {
    min-width: 20%;
    justify-content: space-around; }

#logo {
  height: 79px;
  padding: 30px 0; }

.nav-link {
  gap: 68PX;
  padding: 10px;
  padding-top: 13px; }
  .nav-link:hover, .nav-link:focus, .nav-link:active {
    border-top: solid 3px var(--main-color);
    padding-top: 10px;
    color: var(--main-color); }

/****** Info - filter - search bar ***********/
.filter {
  margin-left: 5px;
  display: flex; }
  .filter .filter-pill {
    display: flex;
    padding: 15px 15px;
    border: solid 2px var(--lighter-color);
    border-radius: 25px;
    height: 50px;
    gap: 5px;
    font-weight: 700;
    font-size: 17px; }
    .filter .filter-pill:hover {
      background-color: var(--filter-bg-color); }
  .filter i {
    margin-right: 4px; }

#info-group {
  display: flex;
  flex-direction: column;
  row-gap: 35px;
  padding: 35px 0; }

.info-bar p {
  display: flex;
  align-items: center; }
.info-bar i {
  border: solid 1px var(--lighter-color);
  height: 24px;
  width: 24px;
  padding: 4px;
  border-radius: 50%;
  text-align: center;
  margin-right: 4px; }

.filter-bar,
.filters-container {
  display: flex; }

.filter-bar {
  align-items: center; }

.search-bar {
  width: 377px; }
  .search-bar form {
    display: flex;
    border: 1px solid #F2F2F2;
    border-radius: 10px; }
  .search-bar input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: none;
    width: 80%;
    background: #fff;
    font-weight: 700; }
    .search-bar input[type=text]:focus {
      outline: none; }
  .search-bar .label-search {
    display: flex;
    width: 50px;
    border-radius: 10px 0 0 10px;
    background-color: var(--lighter-color);
    align-items: center; }
    .search-bar .label-search i {
      margin: 0 auto;
      color: var(--drak-grey-color); }
  .search-bar button {
    padding: 10px;
    background-color: var(--main-color);
    color: white;
    font-size: 17px;
    border: none;
    border-radius: 0 10px 10px 0;
    border-left: none;
    /* Prevent double borders */
    cursor: pointer; }
    .search-bar button:after {
      content: "rechercher...";
      display: flex; }
    .search-bar button:hover {
      background-color: var(--main-bg-color); }

/****** Hebergements And Populaires  And Activites***********/
figure img {
  width: 100%; }

.hebergements-and-populaires {
  display: flex;
  justify-content: space-between; }
  .hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box; }

/****** Hebergements ***********/
.hebergements {
  width: 65%; }

.activites-cards,
.populaires-cards,
.hebergements-cards {
  padding: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px; }

/*
.populaires-cards,
.hebergements-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 30px 0;
  justify-content: space-between;
}*/
.hebergements-cards {
  /*
  &:after {
    content: "";
    flex: auto;
  }
  */ }
  .hebergements-cards a {
    display: flex;
    width: 30%; }
  .hebergements-cards img {
    border-radius: 20px 20px 0 0; }
  .hebergements-cards .card {
    padding-bottom: 15px;
    width: 100%; }

/****** Activites ***********/
.activites {
  padding: 30px; }

.activites-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: calc(7% / 3);
  padding: 30px 0; }
  .activites-cards a {
    display: flex;
    width: 23.25%; }
  .activites-cards .card {
    padding: 0; }
  .activites-cards img {
    border-radius: 20px 20px 0 0;
    border: none;
    height: 380px; }
  .activites-cards .card-content {
    padding: 15px 19px; }

/****** Populaires ***********/
.populaires {
  width: 32%; }

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.populaires-cards {
  flex-direction: column; }
  .populaires-cards .card {
    display: flex; }
  .populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px; }
  .populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box; }
  .populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px; }
  .populaires-cards .card-subtitle {
    margin: 0; }

footer {
  background-color: var(--main-bg-color);
  padding: 30px; }
  footer ul {
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    gap: 15px; }
  footer nav {
    display: flex;
    row-gap: 15px; }
    footer nav > div {
      width: 33%; }

/* Le code ci-dessous correspond à la version responsive uniquement */
/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .hebergements-and-populaires {
    flex-direction: column; }

  .hebergements {
    width: 100%; }

  .populaires {
    width: 100%;
    margin-top: 50px; }

  .populaires-cards {
    flex-direction: row; }
    .populaires-cards a {
      width: 275px; }
    .populaires-cards .card-title {
      font-size: 14px; }
    .populaires-cards .card-subtitle {
      font-size: 13px; }

  .activites-cards img {
    height: 200px; } }
/* Small devices (phones, less than 768px) */
@media only screen and (max-width: 767.98px) {
  /****** components ***********/
  .nav-link {
    gap: 68PX;
    padding: 10px;
    padding-bottom: 13px; }
    .nav-link:hover, .nav-link:focus, .nav-link:active {
      border-top: none;
      border-bottom: solid 3px var(--main-color);
      padding-bottom: 10px; }

  .search-bar {
    width: 100%;
    max-width: 377px; }
    .search-bar button {
      border-radius: 10px; }
      .search-bar button:after {
        font-family: "Font Awesome 6 Free";
        font-weight: 700;
        content: "\f002"; }
      .search-bar button:hover {
        background-color: var(--main-bg-color); }

  .filter-bar {
    align-items: inherit; }

  .filter {
    align-items: flex-start; }
    .filter .filter-pill {
      width: 100%;
      align-self: center;
      padding: 15px 10px;
      font-size: 14px; }
    .filter i {
      margin-right: 4px; }
    .filter:not(:first-child) {
      margin-top: 10px; }

  .card {
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1)); }
    .card img {
      object-fit: cover; }
    .card .card-content {
      padding: 0 15px; }
    .card .card-title {
      font-size: 16px; }

  /****** components ***********/
  .filter-bar,
  .filters-container {
    flex-direction: column; }

  #main-nav .menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px; }
  #main-nav ul {
    display: flex;
    gap: 15px; }
    #main-nav ul li {
      border-top: inherit;
      width: 50%;
      justify-content: center;
      font-size: 16px; }
      #main-nav ul li:hover {
        border-top: inherit; }

  #logo a {
    display: inline-block; }

  .activites-cards,
  .populaires-cards,
  .hebergements-cards {
    column-gap: 0; }
    .activites-cards a,
    .populaires-cards a,
    .hebergements-cards a {
      width: 46%; }

  .hebergements-cards .card {
    padding: 0; }

  .populaires-cards {
    justify-content: center; }
    .populaires-cards a {
      width: 335px; }

  .activites-cards {
    row-gap: 30px; }
    .activites-cards a {
      justify-content: center; }
    .activites-cards img {
      height: 141px; }

  footer {
    width: 294px;
    margin: 0 auto; }
    footer nav {
      flex-direction: column; }
      footer nav > div {
        width: 100%; } }

/*# sourceMappingURL=style.css.map */
